<launch> 
  <param name="lidar_info_path" type="string" value="/media/zz/new/myMidImg/kitti_00/out.txt" />
  <param name="result_save_path" type="string" value="/media/zz/new/myMidImg/result_osk/kitti_00.txt" />
  <param name="time_save_path" type="string" value="/media/zz/new/myMidImg/time/kitti_00.txt" />
  <param name="descriptor_save_folder" type="string" value="/media/zz/new/myMidImg/result_osk/des" />

  <param name="xy_leaf_size" type="double" value="0.5" />
  <param name="z_leaf_size" type="double" value="0.2" />

  <param name="landmark_occupancy_threshold" type="int" value="5" />
  <param name="landmark_range_threshold" type="double" value="40" />
  <param name="landmark_mask_radius" type="double" value="4" />

  <param name="lsh_band_length" type="int" value="6" />
  <param name="lsh_band_num" type="int" value="8" />

  <param name="occupancy_context_max_range" type="double" value="30" />
  <param name="occupancy_context_redius_resolution" type="double" value="1" />
  <param name="occupancy_context_angle_resolution" type="double" value="6" />

  <param name="overlap_grid_size" type="double" value="1" />
  <param name="num_exclude_near_scan" type="int" value="150" />

  <param name="enable_pre_downsample" type="bool" value="false" />
  <param name="overlap_threshold" type="double" value="0.28" />
  <param name="loop_dist_threshold" type="double" value="15" />
  
  <node name="rviz" pkg="rviz" type="rviz" output="screen"  args="-d $(find osk)/rviz_config/osk.rviz" />

  <!-- Start run_osk -->
  <node name="run_osk" pkg="osk" type="run_osk" output="screen" launch-prefix="bash -c 'sleep 5; nice $0 $@'" />
</launch>